.github-link {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1000; /* Ensure it's above the game canvas */
}

.github-link img {
  width: 30px; /* Adjust as necessary */
  height: 30px; /* Adjust as necessary */
}.github-link {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1000; /* Ensure it's above the game canvas */
}

.github-link img {
  width: 30px; /* Adjust as necessary */
  height: 30px; /* Adjust as necessary */
}
/* Resets default margin and padding */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden; /* Prevents scrolling */
  background-color: #000000; /* Set the background color of the page to black */
}

/* Style for the Phaser game container */
.phaser-container {
  width: 800px; /* Match the width of the Phaser game */
  height: 600px; /* Match the height of the Phaser game */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center the game container on the screen */
  border: 2px solid #ffffff; /* Set the border to white */
}
